/* font */
@font-face {
  font-family: "yekan";
  src: url(fonts/Yekan/Yekan.ttf);
  src: url(fonts/Yekan/Yekan.eot?#iefix) format(“embedded-opentype”),
    url(fonts/Yekan/Yekan.woff) format(“woff”),
    url(fonts/Yekan/Yekan.ttf) format(“truetype”),
    url(fonts/Yekan/Yekan.svg#BYekan) format(“svg”);
  font-weight: normal;
  font-style: normal;
}

.basic-page{
  display: block;
}
.responsive-page{
  display: none;
}

/* color variable */
:root {
  --color1: #1894ff;
  --color2: #e6f3ff;
  --color3: #00de9a;
  --color4: #f9f9f9;
  --color5: #2361b5;
  --color6: #616161;
}

body {
  direction: rtl;
  font-family: "yekan";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border-radius: 10px;
  font-family: "Yekan";
  font-weight: bold;
  border: none;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 65px;
  border: none;
  border-radius: 10px;
}

form .text:focus {
  outline: none;
}

/* nav-bar */
header .container {
  /* width: 100vw; */
  padding: 1.5rem 6rem;
}

.nav-class {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 35px;
  height: 45px;
}

.logo div {
  line-height: 10px;
  padding-right: 0.5rem;
}

.logo h1 {
  font-size: 18px;
}

.logo p {
  font-size: 12px;
}

.my-links{
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul {
  list-style: none;
  width: 448px;
  display: flex;
  justify-content: space-around;
}

.nav-button {
  width: 150px;
  height: 45px;
  background-color: var(--color2);
  color: var(--color1);
}  



.topnav a.open , .topnav a.close{
  display: none;
}

.topnav{
  display: flex;
  justify-content: space-around;
}


.section-2 h1,
.section-3 h1,
.section-5 h1 {
  padding-right: 1rem;
  color: var(--color5);
  font-size: 20px;
  border-right: solid var(--color3) 3px;
}



/* section 1 */
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 6rem;
  /* background-color: #00de9a; */
}

.section-1 h1 {
  font-size: 36px;
  color: var(--color1);
}

.section-1 p {
  font-size: 18px;
}

.section-1 .button-group{
  display: flex;
  flex-direction: row;
}

.section-1 button {
  width: 170px;
  height: 52px;
  margin: 20px 0 0 10px;
}

.section-1 .first-button {
  color: #fff;
  background-color: var(--color1);
}

.section-1 .second-button {
  color: var(--color1);
  border: solid var(--color1) 2px;
  background-color: #fff;
}

.section-1 .img-group {
  width: 800px;
  height: 650px;
  background: url(./svg-picture/section1/Path-15701.svg) no-repeat -300px 0;
  background-size: 900px;
  position: relative;
}

.section-1 img {
  width: 400px;
  height: 323px;
  position: absolute;
  right: 300px;
  top: 100px;
}



/* section 2 */
.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.5rem 6rem;
}

.section-2 .img-group {
  width: 356px;
  height: 356px;
  background: url(./svg-picture/section2/Card-Bacground.svg) no-repeat;
  margin-left: 5rem;
}

.section-2 .img-group img{
  width: 196px;
  height: 390px;
position: relative;
top: 3rem;
right: 4.5rem;
}

.section-2 .container-group {
  width: 600px;
  height: 296px;
}

.section-2 p {
  padding-bottom: 3rem;
}

.section-2 .span-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-2 span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2 button {
  width: 80px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 -10px 15px var(--color2), 0 10px 15px var(--color2),
    -10px 0 15px var(--color2), 10px 0 15px var(--color2);
}

.section-2 button:hover {
  border: rgb(211, 205, 205) solid 1px;
}



/* section 3 */
.section-3 {
  padding: 6.5rem 6rem;
}

.section-3 .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-3 .container-buttons {
  width: 400px;
  height: 449px;
}

.section-3 button {
  width: 160px;
  height: 160px;
  background-color: #fff;
  color: grey;
  filter: grayscale(100%);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -10px 15px rgb(245, 243, 243), 0 10px 15px rgb(245, 243, 243),
    -10px 0 15px rgb(245, 243, 243), 10px 0 15px rgb(245, 243, 243);
}

.section-3 .button-group {
  display: flex;
  justify-content: space-between;
}

.section-3 button:hover, .section-3 button:focus {
  filter: none;
  color: var(--color1);
  box-shadow: 0 -10px 15px var(--color2), 0 10px 15px var(--color2),
    -10px 0 15px var(--color2), 10px 0 15px var(--color2);
}

.section-3 .container-table {
  width: 550px;
  height: 366px;
}

/* .section-3 .div-steps .line-drow span{
      width: 5px;
      height: 50px;
      background-color: #000;
    } */
    
.step-table .div-steps div{
  display: flex;
  flex-direction: row;
}

.step-table .div-steps .steps{
  padding-right: 5px;
}
/* , .step-table .line-drow img:before */
.step-table .line-drow img:after{
  content: '';
  width: 5px;
  height: 50px;
  background: black;
} 

.container-steps {
  font-size: 14px;
  padding: 0 90px;
} 

.basic-page{
  display: block;
}
.responsive-page{
  display: none;
}


/* section 4 */
.section-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background: var(--color1);
  background: url(./svg-picture/section4/Path15752.svg) no-repeat -100px -80px,
    url(./svg-picture/section4/Path15753.svg) no-repeat 950px -150px,
    var(--color1);
}

.section-4 h1,
.section-4 p {
  color: white;
}

.section-4 form {
  background-color: white;
  margin: 20px 0;
}

form .text {
  width: 267px;
  height: 21px;
  border: none;
  font-size: 16px;
  color: grey;
  background-color: #fff;
}

form .button {
  width: 100px;
  height: 45px;
  color: white;
  background-color: var(--color1);
  border-radius: 10px;
  font-family: "Yekan";
  font-weight: bold;
  border: none;
  font-size: 16px;
}

.information .app-button {
  width: 180px;
  height: 55px;
  background-color: var(--color5);
  margin: 20px 5px;
}

.section-4 .app-buttons{
  display: flex;
  flex-direction: row;
}
.section-4 .section4-image {
  width: 573px;
  height: 572px;
  position: relative;
  bottom: -40px;
  left: -100px;
  
}

/* section 5 */

.section-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.5rem 6rem;
  background: url(./svg-picture/section5/Path15631.svg) no-repeat 450px;
}

.section-5 .card {
  width: 1088px;
  height: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -10px 15px var(--color2), 0 10px 15px var(--color2),
    -10px 0 15px var(--color2), 10px 0 15px var(--color2);
  border-radius: 30px;
  padding: 10px 50px 0;
  background: #fff;
}

.section-5 .information {
  width: 491px;
  height: 143px;
  padding: 0 30px 80px;
  line-height: 30px;
}

.section-5 form {
  background-color: var(--color4);
  margin: 50px 0;
}

form .text {
  width: 267px ;
  background-color: var(--color4);
  border: none;
}

.section-5 .button {
  width: 130px;
  height: 45px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  background-color: var(--color1);
  border: none;
  font-family: 'yekan';
  font-weight: bold;
}

.section-5 .section5-image {
  width: 406px;
  height: 315px;
  position: relative;
  bottom: -60px;
}

/* section 6 */
.section-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 0 6rem;
  background-color: var(--color1);
}

.section-6 .information {
  display: flex;
  align-items: center;
  color: #fff;
}

.section-6 h1 {
  font-size: 20px;
}

.section-6 p {
  padding: 0 30px;
  font-size: 14px;
}

.section-6 button {
  width: 260px;
  height: 52px;
  background-color: var(--color5);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* footer */
footer {
  padding: 90px;
  display: flex;
  justify-content: space-between;
}

footer .logo-footer {
  display: flex;
}

.logo-footer img {
  width: 35px; /* 2rem */
  height: 45px; /* 3rem */
}

.logo-footer div {
  line-height: 10px; /* 0.8rem */
  padding-right: 0.5rem;
}

.logo-footer h1 {
  font-size: 18px; /* 1.2rem */
}

.logo-footer p {
  font-size: 12px;
}

footer a {
  padding: 10px;
}

footer p {
  font-size: 14px;
}

.info-footer a {
  color: var(--color6);
}

footer .container div{
 padding-right: 3rem;
}
.info-footer{
  display: flex;
  flex-direction: column;
}

footer button {
  width: 180px;
  height: 55px;
  background-color: #000;
  margin-right: 10px;
}




/* media query */

@media screen and (max-width: 768px){
  /* navbar */
  .topnav a.open, .topnav a.close {
    display: block;
    position: absolute;
    left: 2rem;
    top: 2rem;
  }

  header .container {
    padding: 1.5rem 2rem;
  }
  
  .topnav .my-links {
    width: 20rem;
    height:30rem;
    /* background-color: cadetblue; */
    display: none;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
    transition:all 1s;
  }
  
  .topnav .my-links .nav-list{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .topnav .my-links .nav-list a{
    color: gray;
  }

  .topnav .my-links .nav-list a:focus{
      padding-right: 1rem;
      color: var(--color5);
      font-size: 16px;
      border-right: solid var(--color3) 3px;
  }

  /* section 1 */
  .section-1{
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }

  .section-1 .button-group{
    flex-direction: column;
    align-items: center;
  }

  .section-1 img{
    /* width: 302px;
    height: 227px; */
    right: 150px;
    top: 150px;
  }

  .section-1 .img-group{
    background: none;
  }

  /* section 2 */
  .section-2{
    display: flex;
    flex-direction: column;
  }

  .section-2 .container-group{
    z-index: 1;
  }

  /* section 3 */
  .section-3 .container{
    display: flex;
    flex-direction: column;
  }

  /* section 4 */
  .section-4{
    display: flex;
    flex-direction: column;
  }

  .section-4 .section4-image{
    left: 0;
  }
  
  /* section 5 */
  .section-5{
    background: none;
    padding: 8rem 4rem;
  }

  .section-5 .card{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .section-5 .section5-image img{
    width: 400px;
    height: 260px;
    /* position: absolute;
    bottom: 70px; */
  }

  /* section 6 */
  .section-6{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /* footer */
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} 


@media screen and (max-width: 540px){
   .responsive-page{
    display: block;
  }
  .basic-page{
    display: none;
  }
  
/* section 2 */
.section-2{
  flex-direction: column;
  width: 302px;
  height: 520px;
  /* padding-right: 0rem; */
}

.section-2 .img-group {
  width: 300px;
  height: 300px;
  background: url(./svg-picture/section2/Card-Bacground.svg) no-repeat;
  background-size: 300px;
}

/* .section-2 .phone{
  width: 300px;
  height:500px;
}  */

.section-2 .container-group{
  width: 302px;
  height: 168px;
}

.section-2 h1{
  font-size: 16px;
}

.section-2 p{
  font-size: 12px;
}

/* section3 */
.section-3 .container{
  display: flex;
  flex-direction: column;
}

.section-3 button {
  width: 120px;
  height: 120px;
  font-size: 12px;
}

.section-3 .container-buttons{
  height: 150px;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  overflow: hidden;
}

.section-3 .container-table{
  width: 303px;
  height: 416px;
}

.section-3 .div-steps.line-drow::before{
  content: "";
  background-color: #000;
  width: 3px;
  height: 50px;
}

.container-steps {
  padding: 0 30px;
} 

 /* section 4 */
 .section-4{
  height: 894px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-image: none;
}

.section-4 .information{
  display: flex;
flex-direction: column;
/* align-items: center; */
}

.section-4 p{
  width: 302px;
  font-size: 12px;
}

.section-4 h1{
  font-size: 16px;
  text-align: right;
}

.section-4 form{
  width: 335px;
  height: 54px;
}

form .button {
  width: 84px;
  height: 35px;  
}

form .text {
  width: 195px;
  height: 16px;
  font-size: 12px; 
}

.section-4 .app-buttons{
  /* margin-right: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-4 .section4-image {
  width: 229px;
  height: 465px;
  display: flex;
  justify-content: center;
  position: relative;
  right: 10px;
}

/* section 5 */
.section-5{
padding:  10px;
background-image: none;
/* margin: 5rem 1rem; */
}

.section-5 .card{
width: 320px;
height: 550px; 
padding: 0.5rem;
margin: 7rem 1rem;
display: flex;
flex-direction: column-reverse;
}

.section-5 .section5-image{
width: 262px;
}

.section5-image img{
width: 262px;
height: 195px;
position: absolute;
bottom: 70px;
}

.section-5 .information{
width: 302px;
height: 200px;
}

.section-5 h1{
font-size: 16px;
}
.section-5 p{
width: 262px;
height: 73px;
font-size: 12px;
}

.section-5 form{
width: 302px;
height: 55px;
}

.section-5 .text{
width: 117px;
height: 16px;
font-size: 12px;
}

.section-5 .button{
width: 93px;
height: 38px;
font-size: 12px;
}

/* section 6 */
.section-6 {
display: flex;
flex-direction: column;
height: 170px;
padding: 0 6rem;
}

.section-6 .information {
width: 204px;
height: 57px;
display: flex;
flex-direction: column;
line-height: 10px;
padding-top: 10px;
}

.section-6 h1 {
font-size: 16px;
}

.section-6 p {
padding: 0;
font-size: 12px;
}

.section-6 button {
width: 260px;
height: 52px;
font-size: 16px;
margin-bottom: 15px;
}

/* footer */
footer{
width: 302px;
height: 253px;
padding-right: 60px;
}
}