/* font */
@font-face {
  font-family: "yekan";
  src: url(../../fonts/Yekan/Yekan.ttf);
  src: url(../../fonts/Yekan/Yekan.eot?#iefix) format(“embedded-opentype”),
    url(../../fonts/Yekan/Yekan.woff) format(“woff”),
    url(../../fonts/Yekan/Yekan.ttf) format(“truetype”),
    url(../../fonts/Yekan/Yekan.svg#BYekan) format(“svg”);
  font-weight: normal;
  font-style: normal;
}

.basic-page{
  display: block;
}
.responsive-page{
  display: none;
}
.list-item{
  display: none;
}

/* color variable */
:root {
  --color1: #1894ff;
  --color2: #e6f3ff;
  --color3: #00de9a;
  --color4: #f9f9f9;
  --color5: #2361b5;
  --color6: #616161;
}

body {
  direction: rtl;
  font-family: "yekan";
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border-radius: 10px;
  font-family: "Yekan";
  font-weight: bold;
  border: none;
  font-size: 16px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 4rem;
  border: none;
  border-radius: 10px;
  padding: 0 1rem;
}

form .text:focus {
  outline: none;
}

/* nav-bar */
.topnav{
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.my-links{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 15%;
}

ul {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-button {
  width: 150px;
  height: 45px;
  background-color: var(--color2);
  color: var(--color1);
}  

.topnav a.close{
  display: none;
}

.topnav a.open{
  display: none;
}


.section-2 h1,
.section-3 h1,
.section-5 h1 {
  padding-right: 1rem;
  color: var(--color5);
  font-size: 20px;
  border-right: solid var(--color3) 3px;
}

/* section 1 */
.section-1 {
  /* width: 100%; */
  height: 620px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 12rem 1.5rem 0;
}

.section-1 h1 {
  font-size: 36px;
  color: var(--color1);
}

.section-1 p {
  font-size: 18px;
}

.section-1 .button-group{
  display: flex;
  flex-direction: row;
}

.section-1 button {
  width: 170px;
  height: 52px;
  margin: 20px 0 0 10px;
}

.section-1 .first-button {
  color: #fff;
  background-color: var(--color1);
}

.section-1 .second-button {
  border: solid var(--color1) 2px;
  background-color: #fff;
}

.section-1 .second-button a{
  color: var(--color1);
}

.section-1 .img-group {
  width: 70%;
  height: 650px;
  background: url(../../img/Path-15701.svg) no-repeat -10rem 0;
  background-size: 900px;
  /* position: relative; */
}

.section-1 img {
  width: 400px;
  height: 323px;
  position: absolute;
  left: 12rem;
  top: 15rem;
}



/* section 2 */
.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.5rem 12rem;
}

.section-2 .img-group {
  width: 356px;
  height: 356px;
  background: url(../../img/Card-Bacground.svg) no-repeat;
  margin-left: 5rem;
}

.section-2 .img-group img{
  width: 196px;
  height: 390px;
  position: relative;
  top: 3rem;
  right: 4.5rem;
}

.section-2 .container-group {
  width: 600px;
  height: 296px;
}

.section-2 p {
  padding-bottom: 3rem;
}

.section-2 .span-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-2 span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2 button {
  width: 80px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 -10px 15px var(--color2), 0 10px 15px var(--color2),
    -10px 0 15px var(--color2), 10px 0 15px var(--color2);
}

.section-2 button:hover {
  border: rgb(211, 205, 205) solid 1px;
}

/* section 3 */
.section-3 {
  padding: 4rem 12rem 7rem 5rem;
}

.section-3 .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-3 .container-buttons {
  width: 420px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.section-3 button {
  width: 160px;
  height: 160px;
  background-color: #fff;
  color: grey;
  filter: grayscale(100%);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -10px 15px rgb(245, 243, 243), 0 10px 15px rgb(245, 243, 243),
    -10px 0 15px rgb(245, 243, 243), 10px 0 15px rgb(245, 243, 243);
}

.section-3 .button-group {
  display: flex;
  justify-content: space-between;
}

.section-3 button:hover, .section-3 button:focus {
  filter: none;
  color: var(--color1);
  box-shadow: 0 -10px 15px var(--color2), 0 10px 15px var(--color2),
    -10px 0 15px var(--color2), 10px 0 15px var(--color2);
}

.section-3 .container-table {
  width: 65%;
  height: 400px;
}

.step-table{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.step-table .img-steps{
  margin-top: 30px;
}

.line-drow{
  display: flex;
  flex-flow: column;
  align-items: center;
}

 .line-drow::before,
 .line-drow::after{
  content: "";
  width: 2px;
  height: 60px;
  background-color: grey;
}

.step-table .steps{
  /* width:10%; */
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-steps p{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container-steps {
  font-size: 14px;
  display: flex;
  flex-direction: column;
} 

/* section 4 */
.section-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12rem;
  background: url(../../img/Path15752.svg) no-repeat -100px -80px,
    url(../../imgPath15753.svg) no-repeat 950px -150px,
    var(--color1);
}

.section-4 h1,
.section-4 p {
  color: white;
}

.section-4 form {
  background-color: white;
}

form .text {
  width: 267px;
  height: 21px;
  border: none;
  font-size: 16px;
  color: grey;
  background-color: #fff;
}

form .button {
  width: 100px;
  height: 45px;
  color: white;
  background-color: var(--color1);
  border-radius: 10px;
  font-family: "Yekan";
  font-weight: bold;
  border: none;
  font-size: 16px;
}

.section-4 .information .app-button {
  width: 180px;
  height: 55px;
  background-color: var(--color5);
  margin: 20px 5px;
}

.section-4 .app-buttons{
  display: flex;
  flex-direction: row;
}
.section-4 .section4-image img{
  margin-bottom: -2rem;
}

/* section 5 */
.section-5 {
  padding: 12.5rem 8rem;
  background: url(../../img/Path15631.svg) no-repeat 40vw;
}

.section-5 .card {
  height: 55vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -10px 15px var(--color2), 0 10px 15px var(--color2),
    -10px 0 15px var(--color2), 10px 0 15px var(--color2);
  border-radius: 30px;
  padding: 1rem 5rem 0;
  background: #fff;
}

.section-5 .information {
  /* margin: auto; */
  line-height: 30px;
}

.section-5 form {
  background-color: var(--color4);
  margin: 50px 0;
}

form .text {
  width: 267px ;
  background-color: var(--color4);
  border: none;
}

.section-5 .button {
  width: 130px;
  height: 45px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  background-color: var(--color1);
  border: none;
  font-family: 'yekan';
  font-weight: bold;
}

/* section 6 */
.section-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 0 12rem;
  background-color: var(--color1);
}

.section-6 .information {
  display: flex;
  align-items: center;
  color: #fff;
}

.section-6 h1 {
  font-size: 20px;
}

.section-6 p {
  padding: 0 30px;
  font-size: 14px;
}

.section-6 button {
  width: 260px;
  height: 52px;
  background-color: var(--color5);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* footer */
footer {
  height: 30vh;
  padding: 5rem 9rem 5rem 5.5rem;
  display: flex;
  justify-content: space-between;
  
}

footer a {
  padding: 10px;
}

footer p {
  font-size: 14px;
}

.container-footer a {
  color: var(--color6);
}

footer .col-1{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer .container-footer{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 40%;
}

footer .container-footer div{
 padding-right: 3rem;
}

.container-footer .col-2,.container-footer .col-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-footer a:focus{
  color: var(--color5);
  padding-right: 1rem;
  border-right: solid var(--color3) 3px;
}

footer button {
  width: 180px;
  height: 55px;
  background-color: #000;
  margin-right: 10px;
}

/* media query */
@media screen and (max-width: 1320px){
  /* header */
  .topnav ul{
    width: 70%;
  }

  .my-links{
    margin-right: 5%;
  }

  /* section 2 */
  .section-2 {
    padding: 2.5rem 7rem;
  }

   .section-2 .img-group{
     margin-left: 0;
   }

   /* section 3 */
.section-3 {
  padding: 6.5rem 7rem;
}

   /* section 4 */
   .section-4 .section4-image{
     overflow: hidden;
     margin-bottom: -2rem;
   }

   /* footr */
   footer{
    height: 100%;
    flex-wrap: wrap;
   }

   footer .container-footer{
     width: 50%;
   }
}

@media screen and (max-width: 1230px){
  /* nav-bar */
.topnav{
  padding: 1.5rem 4rem;
}

  /* section 1 */
  .section-1{
    padding-right: 5rem;
  }

  .section-1 .img-group{
    background: none;
  }

  .section-1 img {
    left: 5rem;
  }

    /* section 2 */
    .section-2 {
      padding: 2.5rem 3rem;
    }

    /* section 3 */
    .section-3 {
      padding: 3rem 3rem 7rem;
    }
    .step-table .steps{
      width:15%;
    }

     /* section 5 */
     .section-5 {
      padding: 10rem 4rem;
    }

      .section-5 .card{
      padding: 1rem 3rem 0;
    }
  }

  @media screen and (max-width: 1050px){
    /* section 1 */
    .section-1{
      padding: 1.5rem 5rem;
    }

    .section-1 img {
      left: 5rem;
    }

    /* header */
    .my-links{
      margin-right: 0;
    }

    /* section 2 */
    .section-2 {
      padding: 1rem 2rem;
    }

    .section-2 .container-group {
      width: 500px;
    }

      /* section 5 */
      .section-5 {
        padding: 8rem 2rem;
      }

      .section-5 .card{
        padding: 1rem 1rem 0;
      }

      .section5-image img{
        width: 350px;
      }

      /* section 6 */
    .section-6{
      padding: 0 5rem;
    }

    /* footer */
    footer {
      padding: 5rem 5rem;
    }
  }

  @media screen and (max-width: 950px){
    /* nav-bar */
    .topnav{
      padding: 1.5rem 2rem;
    }

    /* section 1 */
    .section-1{
      padding-right: 3rem;
    }

    .section-1 img {
      left: 3rem;
    }

    /* section 2 */
    .section-2 .container-group {
      width: 400px;
      height: 396px;
    }

    /* section 3 */
    .section-3 .container{
      flex-direction: column;
    }

    /* section 5 */
    .section5-image img{
      width: 300px;
    }

    
  }

@media screen and (max-width: 850px){
  .list-item{
    display: block;
  }

  /* navbar */
  .topnav a.open{
     display: block;
    position: absolute;
    left: 5rem;
    top: 2rem;
  }

  .topnav a.close {
    display: none;
    position: absolute;
    left: 5rem;
    top: 2rem;
  }
  
  .topnav .my-links {
    width: 375px;
    height:520px;
    background-color: white;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 7rem;
    z-index: 1;
    left: 0;
  }
  
  .topnav .my-links .nav-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .topnav .my-links .nav-list li{
    line-height: 4.5rem;
  }

  .topnav .my-links .nav-list a:focus{
      padding-right: 1rem;
      color: var(--color5);
      font-size: 16px;
      border-right: solid var(--color3) 3px;
  }

  /* section 1 */
  .section-1{
    height:auto ;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }

  .section-1 .container-buttons{
    margin: 0;
  }

  .section-1 .img-group{
    height: 500px;
  }

  .section-1 .img-group img{
    left: 25%;
  }

  .section-1 .button-group{
    flex-direction: column;
    align-items: center;
  }
  
  /* section 2 */
  .section-2{
      flex-direction: column;
      align-items: center;
      padding-top: 7rem;
    }
  
    .section-2 .container-group{
      z-index: 1;
      width: 90%;
      margin-top: 2rem;
    }

    /* section 3 */
    .section-3 .section3-header{
      padding-right: 2rem;
    }
    
    /* section 5 */
    .section5-image img{
      width: 300px;
    }

     /* section 6 */
     .section-6{
      padding: 0 4rem;
    }

}

@media screen and (max-width: 768px){
  .responsive-page{
    display: block;
  }
  .basic-page{
    display: none;
  }

  /* section 1 */
  .section-1 .img-group img{
    left: 15%;
  }

 /* section 2 */
 .section-2 .container-group{
  height: 168px;
  }

  /* section 3 */
  .section-3{
    padding: 3rem 3rem 0;
    margin-bottom: 10rem;
  }
  .section-3 .section3-header{
    padding-right: 1rem;
  }
  .section-3 button {
    width: 120px;
    height: 120px;
    font-size: 12px;
  }

  .section-3 .container-buttons{
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-left: 0;
    padding-left: 0;
  }

  .section-3 .container-table{
    padding-right: 1rem;
    width: 100%;
    height: auto;
  }
  .step-table .steps{
    width:20%;
  }

  .section-3 .step-table .container-steps{
    width: 100%;
    margin-right: -15%;
  }

  /* section 4 */
  .section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
  }

  .section-4 form{
    /* width: auto; */
    width: 90%;
  }

  .section-4 .app-buttons{
    flex-direction: column;
    align-items: center;
  }

  .section-4 .section4-image img{
    width: 70vw;
    margin-bottom: -6px;
    
  }

  /* section 5 */
  .section-5{
    background: none;
    padding: 8rem 4rem;
  }

  .section-5 .card{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .section-5 .section5-image img{
    width: 100%;
  }

  .section-5 .information{
    width: 100%;
  }

  /* section 6 */
  .section-6{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

    /* footer */
    footer{
      height: 30vh;
    }
    .container-footer a, .container-footer h4{
      display: none;
    }
  
    footer .col-1 div:last-child{
      display: flex;
      justify-content: space-around;
    }
} 


@media screen and (max-width: 540px){
/* nav-bar */
  .topnav{
    padding: 1.5rem 2rem;
  }

  .topnav a.open{
   left: 2rem;
 }

 .topnav a.close {
   left: 2rem;
 }

/* section 1 */
  .section-1 .img-group img{
    width: 90%;
    left: 10%;
  }

  /* section 2 */
  .section-2 h1{
    font-size: 16px;
  }

  .section-2 p{
    font-size: 12px;
  }

  /* section3 */
  .section-3 .container-table p{
    font-size: 12px;
  }
  
  .section-3 .container-table h3,
  .section-3 .container-table h1{
   font-size: 16px;
  }

  /* section 4 */
  .section-4{
    /* padding: 2rem 5rem; */
    background-image: none;
  }

  .section-4 .information{
    display: flex;
  flex-direction: column;
  }

  .section-4 p{
    width: auto;
    font-size: 12px;
  }

  .section-4 h1{
    font-size: 16px;
    text-align: right;
  }

  .section-4 form{
    width: 300px;
    height: 54px;
  }

  form .button {
    width: 84px;
    height: 35px;  
   
  }

  form .text {
    width: 195px;
    height: 16px;
    font-size: 12px; 
    margin: auto 0;
  }

  .section-4 .app-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-4 .section4-image{
    overflow: visible;
  }
  .section-4 .section4-image img{
    width: 80vw;
  }

  /* section 5 */
  .section-5{
  background-image: none;
  padding: 5rem 2rem;
  }

  .section-5 h1{
  font-size: 16px;
  }
  .section-5 p{
  width: auto;
  height: 73px;
  font-size: 12px;
  }

  .section-5 form{
  width: auto;
  height: 55px;
  }

  .section-5 .text{
  width: 117px;
  height: 16px;
  font-size: 12px;
  }

  .section-5 .button{
  width: 93px;
  height: 38px;
  font-size: 12px;
  }

  /* section 6 */
  .section-6 {
  display: flex;
  flex-direction: column;
  height: 170px;
  padding: 0 6rem;
  }

  .section-6 .information {
  width: 204px;
  height: 57px;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  padding-top: 10px;
  }

  .section-6 h1 {
  font-size: 16px;
  }

  .section-6 p {
  padding: 0;
  font-size: 12px;
  }

  .section-6 button {
  width: 260px;
  height: 52px;
  font-size: 16px;
  margin-bottom: 15px;
  }
}

@media screen and (max-width: 411px){
  /* nav-bar */
  .topnav{
    padding: 1.5rem 1rem;
  }

  .topnav a.open{
   left: 1rem;
 }

 .topnav a.close {
   left: 0rem;
 }
  /* section 1 */
  .section-1 .img-group img {
    top: 30%;   
  }

  /* section 2 */
  .section-2 .container-group{
    padding-right: 4rem 2rem 1rem;
  }

  .section-2 .img-group {
    width: 20rem;
    height: 20rem;
    background-size: 100%;
  }

  .section-2 .img-group img{
    right: 20%;
  }

  /* section3 */
  .section-3 {
   padding: 0 2rem;
  }
  .section-3 .container-buttons{
    margin-right: 0;
  }

  .section-3 .container-table{
    width: 100%;
    height: auto;
  }

  .section-3 .container-table p{
    width: auto;
  }

  .section-3 .step-table .container-steps{
    /* width: 20%; */
    padding-left: 2rem;
  }

  /* section 4 */
  .section-4 .information p{
    width: auto;
  }
  .section-4 form{
    width: auto;
    height: 55px;
    }

    /* footer */
      /* footer */
      footer {
        padding: 5rem 3rem;
      }
}