/* font */
@font-face {
    font-family: "yekan";
    src: url(../../fonts/Yekan/Yekan.ttf);
    src: url(../../fonts/Yekan/Yekan.eot?#iefix) format(“embedded-opentype”),
      url(../../fonts/Yekan/Yekan.woff) format(“woff”),
      url(../../fonts/Yekan/Yekan.ttf) format(“truetype”),
      url(../../fonts/Yekan/Yekan.svg#BYekan) format(“svg”);
    font-weight: normal;
    font-style: normal;
  }

  .basic-page{
    display: block;
  }
  .responsive-page{
    display: none;
  } 
  .list-item{
    display: none;
  }

  /* color variable */
  :root {
    --color1: #1894ff;
    --color2: #e6f3ff;
    --color3: #00de9a;
    --color4: #f9f9f9;
    --color5: #2361b5;
    --color6: #616161;
  }
  
  body {
    direction: rtl;
    font-family: "yekan";
    font-size: 16px;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  button {
    border-radius: 10px;
    font-family: "Yekan";
    font-weight: bold;
    border: none;
    font-size: 16px;
  }
  
  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 65px;
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
  }
  
  form .text:focus {
    outline: none;
  }
  
  /* nav-bar */
 .topnav{
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.my-links{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 15%;
}

ul {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-button {
  width: 150px;
  height: 45px;
  background-color: var(--color2);
  color: var(--color1);
}  

.topnav a.close{
  display: none;
}

.topnav a.open{
  display: none;
}

  
  /* section 1 */
  .section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8rem ;
  }

  .section-1 .container-group{
    width: 50%;
    height: auto;
  }

  .container-group h1{
    padding: 0 0 23px 95px;
    font-size: 30px;
    font-weight: bold;
    color: var(--color1);
  }

.container-group p{
  padding: 0 0 47px 56px;
  font-size: 16px;
}

.section-1 form {
    width: 80%;
    height: 65px;
    background-color:var(--color4);
    margin: 20px 0;
  }
  
  form .text {
    width: 100%;
    height: 21px;
    border: none;
    font-size: 16px;
    color: grey;
    background-color: var(--color4);
  }
  
  form .button {
    width: 130px;
    height: 45px;
    color: white;
    background-color: var(--color1);
    border-radius: 10px;
    font-family: "Yekan";
    font-weight: bold;
    border: none;
    font-size: 16px;
  }
  
  .drugstore-group{
    margin-left: 5rem;
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
    align-items: flex-end;
  }

  .drugstore-group .group-1-2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .drugstore-group .group-2{
    margin: 2rem 0;
    filter: opacity(70%);
  }

  .drugstore-group .group-3{
    filter: opacity(50%);
  }

  .drugstore-group label{
      float: left; 
  }
  .drugstore-group .group-1 div,
  .drugstore-group .group-2 div,
  .drugstore-group .group-3 div{
    display: flex;
    flex-direction: row;
  }

  .drugstore-group .group-1,
  .drugstore-group .group-2,
  .drugstore-group .group-3{
      border-radius: 25px;
      box-shadow: 0 0 30px 0 var(--color2);    
      padding: 10px;
  }

  .drugstore-group .profile{
    float:right;
    padding: 10px 10px;
  }

.drugstore-group label{
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: var(--color1);
    padding-top:5px ;
}

  .drugstore-group .group-1{
      width: 438px;
      height: 125px;
  }

  .group-1 h2{
    font-size: 20px;
    
  }

  .group-1 p{
    font-size: 12px;
    padding-right: 0.5rem;
  }

  .group-1 label{
    width: 80px;
    height: 28px;
    font-size: 12px;
  }

  .drugstore-group .group-2, .drugstore-group .group-3{
    width: 306px;
    height: 87px;
  }

  .group-2 .profile, .group-3 .profile{
    width: 52px;
    height: 52px;
   
  }

  .group-2 h2, .group-3 h2{
    font-size: 13px;
  }

  .group-2 p, .group-3 p{
    font-size: 8px;
    padding-right: 0.5rem;
  }

  .group-3 label{
    width: 55px;
    height: 19px;
    font-size: 8px;
  }

  /* section  2*/
  .section-2{
    width: auto;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(../../img/Semicircular_left.svg) no-repeat -1%, 
    url(../../img/Semicircular_right.svg) no-repeat 101% ,
    var(--color1);
    color: white;
    margin: 7rem 0;
    padding: 1.5rem 9rem;
  }

  .section-2 p{
    font-size: 16px;
  }

  .section-2 .count{
    font-size: 36px;
  }

  /* section 3 */
  .section-3{
    padding: 1.5rem 8rem;
  }

  .section-3 h1{  
    color: var(--color5);
    font-size: 20px;
  }
  
  .section-3 p{
    font-size: 16px;
  }

  .section-3 .header{
    padding-right: 31px;
    border-right: solid var(--color3) 3px;
  }

  .section-3 .registering-stors{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .registering-stors .stors{
    width: 40%;
    height: auto;
    box-shadow: 0 0 30px 0 var(--color2);  
    border-radius: 50px;
    margin-top: 58px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .registering-stors img{
    padding: 2rem 0 ;
  }

  .registering-stors h1{
    padding: 0 21px 0 0;
  }

  .registering-stors p{
    padding: 0 21px  ;
    font-size: 14px;
  }

  .registering-stors button{
    width: 170px;
    height: 52px;
    margin: 36px 136px ;
    font-size: 16px;
    color: white;
    background-color: var(--color1);
    border-radius: 10px;
  }

  /* section 4 */
  .section-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 0 12rem;
    background-color: var(--color1);
  }
  
  .section-4 .information {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .section-4 h1 {
    font-size: 20px;
  }
  
  .section-4 p {
    padding: 0 30px;
    font-size: 14px;
  }
  
  .section-4 button {
    width: 260px;
    height: 52px;
    background-color: var(--color5);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

/* footer */
footer {
  height: 30vh;
  padding: 5rem 9rem 5rem 5.5rem;
  display: flex;
  justify-content: space-between;
  
}

footer a {
  padding: 10px;
}

footer p {
  font-size: 14px;
}

.container-footer a {
  color: var(--color6);
}

footer .col-1{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer .container-footer{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 40%;
}

footer .container-footer div{
 padding-right: 3rem;
}

.container-footer .col-2,.container-footer .col-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-footer a:focus{
  color: var(--color5);
  padding-right: 1rem;
  border-right: solid var(--color3) 3px;
}

footer button {
  width: 180px;
  height: 55px;
  background-color: #000;
  margin-right: 10px;
}


/* media query */
@media screen and (max-width: 1320px){
  /* header */
  .topnav ul{
    width: 70%;
  }

  .my-links{
    margin-right: 5%;
  }

  /* footr */
  footer{
   height: 100%;
   flex-wrap: wrap;
  }

  footer .container-footer{
    width: 50%;
  }
}

@media screen and (max-width: 1230px){
  /* nav-bar */
  .topnav{
    padding: 1.5rem 4rem;
  }
}

@media screen and (max-width: 1200px){
  /* section 1 */
  .section-1{
    padding: 1.5rem 6rem ;
  }
}

@media screen and (max-width: 1050px){
  /* header */
  .my-links{
    margin-right: 0;
  }

  /* section 1 */
  .section-1{
    padding: 1.5rem 4rem ;
  }

   /* section 4 */
   .section-4{
    padding: 0 5rem;
  }

  /* footer */
  footer {
    padding: 5rem 5rem;
  }
}

@media screen and (max-width: 950px){
  /* nav-bar */
  .topnav{
    padding: 1.5rem 2rem;
  }
  .section-1{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
  }

  .section-1 .container-group{
    width: 80%;
    display: block;
  }
  
  .drugstore-group{
      width: 80%;
      align-items: center;
  } 
}

@media screen and (max-width: 850px){
.list-item{
  display: block;
}

/* navbar */
.topnav a.open{
   display: block;
  position: absolute;
  left: 5rem;
  top: 2rem;
}

.topnav a.close {
  display: none;
  position: absolute;
  left: 5rem;
  top: 2rem;
}

.topnav .my-links {
  width: 375px;
  height:520px;
  background-color: white;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 7rem;
  z-index: 1;
  left: 0;
}

.topnav .my-links .nav-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topnav .my-links .nav-list li{
  line-height: 4.5rem;
}

.topnav .my-links .nav-list a:focus{
    padding-right: 1rem;
    color: var(--color5);
    font-size: 16px;
    border-right: solid var(--color3) 3px;
}

/* section 4 */
.section-4{
  padding: 0 4rem;
}
}

@media screen and (max-width: 768px){
  .responsive-page{
    display: block;
  }
  .basic-page{
    display: none;
  }

  /* section 1 */
  .section-1{
    padding: 1rem 3rem ;
  }

  .section-1 .container-group{
    width: 100%;
  }
  
  .drugstore-group .group-1{
    width: 100%;
}

  .section-1 .drugstore-group{
    display: block;
    /* padding-right: 2rem; */
  }

  .section-1 .drugstore-group .group-2,
  .section-1 .drugstore-group .group-3{
    display: none;
  }

  /* section 2 */
  .section-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1rem;
    height: 450px;
    }
  
    /* section 3 */
    .section-3{
      padding: 1.5rem 4 rem;
    }
  .section-3 .registering-stors{
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .section-3 .stors{
    width: 100%;
  }

   /* section 4 */
   .section-4{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

   /* footer */
    footer{
      height: 30vh;
    }
    .container-footer a, .container-footer h4{
      display: none;
    }
  
    footer .col-1 div:last-child{
      display: flex;
      justify-content: space-around;
    }
}


@media screen and (max-width:540px) {
  /* section 1 */
  .section-1{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1.5rem 2rem 0;
  }

  .drugstore-group .group-1{
    height: 84px;
  }

  .group-1 .profile{
    width: 50px;
    height: 50px;
  }

  .group-1 label{
    width: 53px;
    height: 18px;
    font-size: 8px;
  }

  .group-1 h2{
    font-size: 13px;
  }

  .group-1 p{
    font-size: 8px;
  }

  .section-1 .container-group{
    margin-top: 3rem;
  }

  .section-1 .container-group h1{
    width: auto;
    font-size: 24px;
  }

  .section-1 .container-group p{
    font-size: 14px;
  }

  .container-group form .text{
    font-size: 12px ;
  }

  .container-group form .button{
    width: 93px;
    height: 38px;
    font-size: 12px ;
  }

   /* section 2 */
  .section-2 p{
    font-size: 14px;
  }

    /* section 3 */
    .section-3{
      padding: 1.5rem 2rem;
    }
  .section-3 h1{
    width: 302px;
    font-size: 16px;
    
  }

  .section-3 .responsive-page{
    width: 300px;
    font-size: 12px;
  }

  .section-3 .registering-stors .stors{
    height: 342px;
    padding: 1rem 1rem;
  }

  .section-3 .registering-stors img{
    height: 30%;
    visibility: hidden;
  }

  .registering-stors div button{
    width: 170px;
    height: 52px;
    font-size: 16px;
    margin: auto 3rem;
  }

  /* section 4 */
  .section-4 {
    display: flex;
    flex-direction: column;
    height: 170px;
    padding: 0 6rem;
    }
  
    .section-4 .information {
    width: 204px;
    height: 57px;
    display: flex;
    flex-direction: column;
    line-height: 10px;
    padding-top: 10px;
    }
  
    .section-4 h1 {
    font-size: 16px;
    }
  
    .section-4 p {
    padding: 0;
    font-size: 12px;
    }
  
    .section-4 button {
    width: 260px;
    height: 52px;
    font-size: 16px;
    margin-bottom: 15px;
    }
}


@media screen and (max-width:411px){
  /* section 2 */
  .section-2 {
    padding: 0;
  }
  .section-2 .count{
    font-size: 24px;
  }
  
  /* footer */
    footer{
      padding: 5rem 3rem;
    }
}