<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>عضویت داروخانه‌ها</title>
  <link rel="stylesheet" href="../assets/style/drugstore.css">
</head>

<body>
  <nav class="navbar">
    <div class="navbar__logo">
      <img class="navbar__logo__img" src="../assets/img/logo.svg" alt="logo" />
    </div>

    <div id="myLinks" class="navbar__links">
      <ul class="navbar__list">
        <li class="navbar__list__item"><a href="../index.html">صفحه اصلی</a></li>
        <li class="navbar__list__item">
          <a href="#">در باره ما</a>
        </li>
        <li class="navbar__list__item">
          <a href="./contact-us.html">تماس با ما</a>
        </li class="navbar__list__item">
        <li">
          <a href="./drugstore.html">عضویت داروخانه‌ها</a>
          </li>
          <li class="navbar__list__item navbar__listItem">
            <a href="./question.html">سوالات متداول</a>
          </li>
          <li class="navbar__list__item navbar__listItem">
            <a href="#">قوانین و شرایط</a>
          </li>
      </ul>
      <hr class="navbar__list__item navbar__listItem">
      <div>
        <button class="navbar__links__button">دانلود درمانیتو</button>
      </div>
    </div>

    <div>
      <a id="open" class="navbar__icon navbar__icon--open" onclick="myFunction1()">
        <img class="menu-icons" src="../assets/img/menu.svg" alt="menu">
      </a>
    </div>
    <div>
      <a id="close" class="navbar__icon navbar__icon--close" onclick="myFunction2()">
        <img class="menu-icon " src="../assets/img/plus.svg" alt="close">
      </a>
    </div>
  </nav>

  <main>
    <!-- section 1 -->
    <section class="health">
      <div class="health__container">
        <h1 class="health__h1">شما هر در سلامت و بهبود مردم کشورمون موثر باشید</h1>
        <p class="health__p">با ثبت‌نام به عنوان داروخانه فروشگاه و داروخانه شما هم به سیستم درمان کمک کنید و به هزاران
          کاربر خدمات ارائه
          بدین و روزانه درآمد سفارش خودتون‌های خودتون رو تسویه کنید.</p>
        <form class="health__form" action="">
          <input class="health__input-text basic-page" type="text"
            placeholder="شماره همراه را وارد کنید 900 36 61 0912">
          <input class="health__input-text responsive-page" type="text" placeholder="شماره همراه را وارد کنید">
          <input class="health__input-button" type="button" value="ثبت نام سریع">
        </form>
      </div>
      <div class="health__drugstore">
        <div class="health__drugstore__group">
          <div class="health__drugstore__group-1">
            <img class="health__profile" src="../assets/img/profile.svg" alt="profile">
            <label class="health__label" for="">شبانه روزی</label>
            <h2 class="health__h2">نام داروخانه شما</h2>
            <div>
              <img src="../assets/img/map-marker.svg" alt="location">
              <p> درمانیتو، سرویس داروخانه، داروخانه شما</p>
            </div>
          </div>
          <div class="health__drugstore__group-2">
            <img class="health__profile" src="../assets/img/profile.svg" alt="profile">
            <h2 class="health__h2">نام داروخانه شما</h2>
            <div>
              <img src="../assets/img/map-marker.svg" alt="location">
              <p> درمانیتو، سرویس داروخانه، داروخانه شما</p>
            </div>
          </div>
        </div>
        <div class="health__drugstore__group-3">
          <img class="health__profile" src="../assets/img/profile.svg" alt="profile">
          <label class="health__label" for="">شبانه روزی</label>
          <h2 class="health__h2">نام داروخانه شما</h2>
          <div>
            <img src="../assets/img/map-marker.svg" alt="location">
            <p> درمانیتو، سرویس داروخانه، داروخانه شما</p>
          </div>
        </div>
      </div>
    </section>

    <!-- sectiont 2 -->
    <section class="user">
      <div>
        <p>تعداد کاربران درمانیتو</p>
        <p class="user__count">+120,000</p>
      </div>
      <div>
        <p>تعداد داروخانه و مراکز</p>
        <p class="user__count">+120,000</p>
      </div>
      <div>
        <p>تعداد داروخانه و مراکز</p>
        <p class="user__count">+120,000</p>
      </div>
    </section>

    <!-- section 3 -->
    <section class="service">
      <div class="service__header">
        <h1 class="service__header__h1 basic-page">درمانیتو چه خدماتی ارائه خواهد داد؟</h1>
        <h1 class="service__header__h1 responsive-page">در درمانیتو چه خدماتی ارائه خواهید داد؟</h1>
        <p class="service__header__p basic-page">خدمت مورد نظر خود را برای ثبت نام انتخاب کنید</p>
        <p class="service__header__p responsive-page">شما میتونید شماره خودتون یا دوست خودتون رو وارد کنید تا لینک
          دانلود پیامک بشه</p>
      </div>
      <div class="service__registering-stor">
        <div class="service__stor">
          <img class="service__stor__img" src="../assets/img/drug.svg" alt="drugstore">
          <div>
            <h1 class="service__stor__h1 basic-page">داروخانه</h1>
            <h1 class="service__stor__h1 responsive-page">فقط داروخانه</h1>
            <p class="service__stor__p">مایل هستم فقط به عنوان داروخانه فعالیت کنم و در بخش صرفا سفارش دارو با عکس نسخه
              به بیماران کمک رسانی کنم.
            </p>
          </div>
          <button class="service__stor__button">ثبت نام</button>
        </div>
        <div class="service__stor">
          <img class="service__stor__img" src="../assets/img/mackup_store.svg" alt="makeupstore">
          <div>
            <h1 class="service__stor__h1 basic-page">فروشگاه آرایشی و بهداشتی</h1>
            <h1 class="service__stor__h1 responsive-page">داروخانه و فروشگاه</h1>
            <p class="service__stor__p">مایل هستم فقط به عنوان داروخانه فعالیت کنم و در بخش صرفا سفارش دارو با عکس نسخه
              به بیماران کمک رسانی کنم.
            </p>
          </div>
          <button class="service__stor__button">ثبت نام</button>
        </div>
      </div>
    </section>

    <!-- section 4 -->
    <section class="support">
      <div class="support__info">
        <h1 class="support__h1">پشتیبانی درمانیتو</h1>
        <p class="support__p">پاسخگویی در روزهای کاری از 9 صبح تا 9 شب</p>
      </div>
      <button class="support__button">
        <img src="../assets/img/backup.svg" />
        پشتیبانی : 44219671-021
      </button>
    </section>
  </main>

  <footer class="footer">
    <div class="footer__col-1">
      <div class="footer__logo">
        <img src="../assets/img/logo.svg" alt="logo" />
      </div>
      <div class="footer__col-1__container">
        <p class="footer__col-1__p" style="font-weight: bold">سوپر اپلیکیشن حوزه درمان و سلامت</p>
        <p class="footer__col-1__P">تمام حقوق مادی و معنوی این وبسایت متعلق به درمانیتو است.</p>
      </div>
      <div class="footer__col-1__links">
        <a href="#"><img src="../assets/img/linkedin.svg" /></a>
        <a href="#"><img src="../assets/img/twiter.svg" /></a>
        <a href="#"><img src="../assets/img/instagram.svg" /></a>
      </div>
    </div>
    <div class="footer__container basic-page">
      <div class="footer__col-2 basic-page">
        <h4>خدمات درمانیتو</h4>
        <a href="#">داروخانه آنلاین</a>
        <a href="#">فروشگاه آنلاین</a>
        <a href="#">ویزیت آنلاین</a>
        <a href="#">پرونده پزشکی</a>
      </div>
      <div class="footer__col-3 basic-page">
        <h4>صفحات درمانیتو</h4>
        <a href="#">تماس با ما</a>
        <a href="#">درباره ما</a>
        <a href="./question.html">سوالات متداول</a>
        <a href="#">قوانین و شرایط</a>
      </div>
    </div>
    <div class="footer__col-4 basic-page">
      <h4>دانلود درمانیتو</h4>
      <button class="footer__button"><img src="../assets/img/bazar_app.svg" /></button>
      <button class="footer__button"><img src="../assets/img/sib_app.svg" /></button>
    </div>
  </footer>


</body>
<script src="./script.js"></script>

</html>