/* font */
@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan/Yekan.ttf);
    src: url(../fonts/Yekan/Yekan.eot?#iefix) format(“embedded-opentype”),
      url(../fonts/Yekan/Yekan.woff) format(“woff”),
      url(../fonts/Yekan/Yekan.ttf) format(“truetype”),
      url(../fonts/Yekan/Yekan.svg#BYekan) format(“svg”);
    font-weight: normal;
    font-style: normal;
  }
  
  .basic-page{
    display: block;
  }
  .responsive-page{
    display: none;
  }
  .navbar__listItem{
    display: none;
  }

  /* color variable */
  :root {
    --color1: #1894ff;
    --color2: #e6f3ff;
    --color3: #00de9a;
    --color4: #f9f9f9;
    --color5: #2361b5;
    --color6: #616161;
  }
  
  body {
    direction: rtl;
    font-family: "yekan";
    font-size: 16px;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  button {
    border-radius: 10px;
    font-family: "Yekan";
    font-weight: bold;
    border: none;
    font-size: 16px;
  }
  
 /* nav-bar */
 .navbar{
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar__links{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 15%;
}

.navbar__list,
ul {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.navbar__links__button {
  width: 150px;
  height: 45px;
  background-color: var(--color2);
  color: var(--color1);
}  

a.navbar__icon--open{
  display: none;
}

a.navbar__icon--close{
  display: none;
}

 
  /* section 1 */
  .topic{
      height: 100px;
      background: var(--color1);
      display: flex;
      justify-content: center;
  }
  
  /* .section-1 .background-1{
    height: 350px;
    margin-right: -12%;
    margin-top: -1rem;
  }

  .section-1 .background-2{
    height: 350px;
    margin-top: -1rem;
} */

  .topic__h1{
     color: white;
     font-size: 30px; 
  }

/* section 2 */
.contact{
    padding: 7rem 8rem;
    display: flex;
    justify-content: space-between;
}

.contact__form-table{
    width: 445px;
    height: 490px;
 }

 .contact__map-table {
  width: 600px;
  height: 490px;
  margin: 0 2rem ;
}

.contact__form{
  padding: 1rem;
}

 .contact__label{
     font-size: 12px;
 }
 
 .contact__input{
    width: 100%;
    height: 46px;
    margin-bottom: 12px;
    padding-right: 17px ;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
     font-size: 14px;
     font-family: 'yekan';
    color: #C7C7C7;
 }

 .contact__textarea{
    width: 100%;
    height: 174px;
    margin: 12px 0 0;
    padding-right:  17px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-family: 'yekan';
    color: #C7C7C7;
 }

 .contact__input:focus {
    outline: none;
    border-color: var(--color1);
  }

 .contact__input--button-submit{
   width: 105%;
   height: 52px;
   background-color: white;
   font-size: 16px;
   border-color: var(--color1);
   color: var(--color1);
 }

 .contact__google-map img{
   width: 100%;
 }

 .contact__map-info{
   width: 90%;
   height: 170px;
   display: flex;
   justify-content: space-around;
   background-color: white;
   border-radius: 10px;
   position: relative;
   bottom: 40%;
   right: 5%;
 }

 .contact__info{
   margin: 0 1rem;
 }

 .contact__detail{
   color: var(--color1);
 }

/* section 3 */
.support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 0 12rem;
  background-color: var(--color1);
}

.support__info {
  display: flex;
  align-items: center;
  color: #fff;
}

.support__h1 {
  font-size: 20px;
}

.support__p {
  padding: 0 30px;
  font-size: 14px;
}

.support__button {
  width: 260px;
  height: 52px;
  background-color: var(--color5);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* footer */
.footer {
  height: 30vh;
  padding: 5rem 9rem 5rem 5.5rem;
  display: flex;
  justify-content: space-between;
  
}

.footer a {
  padding: 10px;
}

.footer__col-logo__p {
  font-size: 14px;
}

.footer__container a {
  color: var(--color6);
}

.footer__col-logo{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.footer__container div{
 padding-right: 3rem;
}

.footer__col-online,
.footer__col-about{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__container a:focus{
  color: var(--color5);
  padding-right: 1rem;
  border-right: solid var(--color3) 3px;
}

.footer__button {
  width: 160px;
  height: 55px;
  background-color: #000;
  /* margin-right: 10px; */
}

.footer__button img{
    padding-top: 8px;
}

/* media query */
@media screen and (max-width: 1320px){
/* header */
.navbar__list{
  width: 70%;
}

.navbar__links{
  margin-right: 5%;
}

/* footr */
.footer{
  height: 100%;
  flex-wrap: wrap;
 }

 .footer__container{
   width: 50%;
 }
}
  
@media screen and (max-width: 1290px){
  /* section 2 */
  .contact{ 
    padding: 5rem 4rem;
  }
}

@media screen and (max-width: 1230px){
  /* nav-bar */
  .navbar{
    padding: 1.5rem 4rem;
  }

  /* section 2 */
  .contact{ 
    padding: 4rem 1rem;
}

}

@media screen and (max-width: 1050px){
   /* header */
   .navbar__links{
    margin-right: 0;
  }

  /* section 2 */
  .contact{
    flex-direction: column-reverse;
    align-items: center;
  } 

 /* section 3 */
 .support{
  padding: 0 5rem;
}

/* footer */
.footer {
  padding: 5rem 5rem;
}
}

@media screen and (max-width: 950px){
   /* nav-bar */
   .navbar{
    padding: 1.5rem 2rem;
  }
}

  @media screen and (max-width: 850px){
    .navbar__listItem{
      display: block;
    }
  
    /* navbar */
a.navbar__icon--open{
  display: block;
 position: absolute;
 left: 5rem;
 top: 2rem;
}

a.navbar__icon--close {
 display: none;
 position: absolute;
 left: 5rem;
 top: 2rem;
 
}

.navbar__links {
 width: 100%;
 height:520px;
 background-color: white;
 display: none;
 flex-direction: column;
 position: absolute;
 top: 7rem;
 z-index: 1;
 left: 0;
}

.navbar__list{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.navbar__list__item{
 line-height: 4.5rem;
}

.navbar__list__item a:focus{
   padding-right: 1rem;
   color: var(--color5);
   font-size: 16px;
   border-right: solid var(--color3) 3px;
}

/* section 3 */
.support{
  padding: 0 4rem;
}
  }

  @media screen and (max-width:768px) {
    .responsive-page{
      display: block;
    }
    .basic-page{
      display: none;
    }

   /* section 2 */
   .contact{
     padding: 7rem 3rem;
   }
   .contact__map-table{
   width: 100%; 
    margin-bottom: 5%; 
   }

  .contact__form-table{
    width: 100%;
   } 

   /* section 3 */
  .support{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

    /* footer */
    .footer{
      height: 30vh;
    }
    .footer__container a, .footer__container h4{
      display: none;
    }
  
    .footer__col-logo div:last-child{
      display: flex;
      justify-content: space-around;
    }
  }

  @media screen and (max-width:540px) {
    /* header */
    .navbar{
      padding: 1.5rem 2rem;
    }
  
    a.navbar__icon--open{
     left: 2rem;
   }
  
   a.navbar__icon--close {
     left: 2rem;
   }

    /* section 2 */
    .contact__map-info{
      box-shadow: 0 0 20px 0 gray;
      bottom: 10%;
    }

    .contact__info p{
      font-size: 12px;
      padding-right: 5px;
    }

 /* section 3 */
 .support {
  display: flex;
  flex-direction: column;
  height: 170px;
  padding: 0 6rem;
  }

  .support__info {
  width: 204px;
  height: 57px;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  padding-top: 10px;
  }

  .support__h1 {
  font-size: 16px;
  }

  .support__p {
  padding: 0;
  font-size: 12px;
  }

  .support__button {
  width: 260px;
  height: 52px;
  font-size: 16px;
  margin-bottom: 15px;
  }
  }

  @media screen and (max-width:411px){
   /* navbar */
   .navbar{
    padding: 1.5rem 1rem;
  }

  a.navbar__icon--open{
   left: 1rem;
 }

  a.navbar__icon--close {
   left: 0rem;
 }

   .footer {
      padding: 5rem 3rem;
    }

    /* section 2 */
    .contact__info{
      height: auto;
    }
  }