/* font */
@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan/Yekan.ttf);
    src: url(../fonts/Yekan/Yekan.eot?#iefix) format(“embedded-opentype”),
      url(../fonts/Yekan/Yekan.woff) format(“woff”),
      url(../fonts/Yekan/Yekan.ttf) format(“truetype”),
      url(../fonts/Yekan/Yekan.svg#BYekan) format(“svg”);
    font-weight: normal;
    font-style: normal;
  }

  .basic-page{
    display: block;
  }
  .responsive-page{
    display: none;
  } 
  .navbar__listItem--responsive {
  display: none;
}

  /* color variable */
  :root {
    --color1: #1894ff;
    --color2: #e6f3ff;
    --color3: #00de9a;
    --color4: #f9f9f9;
    --color5: #2361b5;
    --color6: #616161;
  }
  
  body {
    direction: rtl;
    font-family: "yekan";
    font-size: 16px;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  button {
    border-radius: 10px;
    font-family: "Yekan";
    font-weight: bold;
    border: none;
    font-size: 16px;
  }
  
  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 65px;
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
  }
  
  form .text:focus {
    outline: none;
  }
  
  /* nav-bar */
 .navbar {
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 11%;
}

.navbar__list,
ul {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.navbar__links__button {
  width: 150px;
  height: 45px;
  background-color: var(--color2);
  color: var(--color1);
}

a.navbar__icon--open {
  display: none;
}

a.navbar__icon--close {
  display: none;
}

  
  /* section 1 */
  .health{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8rem ;
  }

  .health__container{
    width: 50%;
    height: auto;
  }

  .health__h1{
    padding: 0 0 23px 95px;
    font-size: 30px;
    font-weight: bold;
    color: var(--color1);
  }

.health__p{
  padding: 0 0 47px 56px;
  font-size: 16px;
}

.health__form {
    width: 80%;
    height: 65px;
    background-color:var(--color4);
    margin: 20px 0;
  }
  
  .health__input-text {
    width: 100%;
    height: 21px;
    border: none;
    font-size: 16px;
    color: grey;
    background-color: var(--color4);
  }
  
  .health__input-button {
    width: 130px;
    height: 45px;
    color: white;
    background-color: var(--color1);
    border-radius: 10px;
    font-family: "Yekan";
    font-weight: bold;
    border: none;
    font-size: 16px;
  }
  
  .health__drugstore{
    margin-left: 5rem;
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
    align-items: flex-end;
  }

  .health__drugstore__group{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .health__drugstore__group-second{
    margin: 2rem 0;
    filter: opacity(70%);
  }

  .health__drugstore__group-third{
    filter: opacity(50%);
  }

  .health__label{
      float: left; 
      color: white;
      text-align: center;
      border-radius: 10px;
      background-color: var(--color1);
      padding-top:5px ;
  }

  .health__drugstore__group-first div,
  .health__drugstore__group-second div,
  .health__drugstore__group-third div{
    display: flex;
    flex-direction: row;
  }

  .health__drugstore__group-first,
  .health__drugstore__group-second,
  .health__drugstore__group-third{
      border-radius: 25px;
      box-shadow: 0 0 30px 0 var(--color2);    
      padding: 10px;
  }

  .health__profile{
    float:right;
    padding: 10px 10px;
  }

.health__drugstore__group-first{
  width: 438px;
  height: 125px;
}

  .health__drugstore__group-first h2{
    font-size: 20px;
    
  }

  .health__drugstore__group-first p{
    font-size: 12px;
    padding-right: 0.5rem;
  }

  .health__drugstore__group-first label{
    width: 80px;
    height: 28px;
    font-size: 12px;
  }

  .health__drugstore__group-second, 
  .health__drugstore__group-third{
    width: 306px;
    height: 87px;
  }

  .health__drugstore__group-second .health__profile, 
  .health__drugstore__group-third .health__profile{
    width: 52px;
    height: 52px; 
  }

  .health__drugstore__group-second h2, 
  .health__drugstore__group-third h2{
    font-size: 13px;
  }

  .health__drugstore__group-second p, 
  .health__drugstore__group-third p{
    font-size: 8px;
    padding-right: 0.5rem;
  }

  .health__drugstore__group-third label{
    width: 55px;
    height: 19px;
    font-size: 8px;
  }

  /* section  2*/
  .users{
    width: auto;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(../img/Semicircular_left.svg) no-repeat -1%, 
    url(../img/Semicircular_right.svg) no-repeat 101% ,
    var(--color1);
    color: white;
    margin: 7rem 0;
    padding: 1.5rem 9rem;
  }

  .users div{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10px;
    padding-top: 0.5rem;
  }

  .users__drugstore{
    font-size: 16px;
  }

  .users__count{
    font-size: 36px;
  }

  /* section 3 */
  .service{
    padding: 1.5rem 8rem;
  }

  .service__header__p{
    font-size: 16px;
  }

  .service__header__h1{
    padding-right: 31px;
    border-right: solid var(--color3) 3px;
    color: var(--color5);
    font-size: 20px;
  }

  .service__registering-stor{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .service__stor{
    width: 40%;
    height: auto;
    box-shadow: 0 0 30px 0 var(--color2);  
    border-radius: 50px;
    margin-top: 58px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service__stor__img{
    padding: 2rem 0 ;
  }

  .service__stor__h1{
    color: var(--color5);
    font-size: 20px;
    padding: 0 21px 0 0;
  }

  .service__stor__p{
    padding: 0 21px  ;
    font-size: 14px;
  }

  .service__stor__button{
    width: 170px;
    height: 52px;
    margin: 36px 136px ;
    font-size: 16px;
    color: white;
    background-color: var(--color1);
    border-radius: 10px;
  }

  /* section 4 */
  .support {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 0 12rem;
    background-color: var(--color1);
  }
  
  .support__info {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .support__h1 {
    font-size: 20px;
  }
  
  .support__p {
    padding: 0 30px;
    font-size: 14px;
  }
  
  .support__button {
    width: 260px;
    height: 52px;
    background-color: var(--color5);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* footer */
  .footer {
  height:250px;
  padding: 5rem 9rem 5rem 5.5rem;
  display: flex;
  justify-content: space-between;
}

.footer a {
  padding: 10px;
}

.footer__col-logo__p {
  font-size: 14px;
}

.footer__container a {
  color: var(--color6);
}

.footer__col-logo {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.footer__col-online,
.footer__col-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__container a:focus {
  color: var(--color5);
  padding-right: 1rem;
  border-right: solid var(--color3) 3px;
}

.footer__button {
  width: 160px;
  height: 55px;
  background-color: #000;
  /* margin-right: 10px; */
}

.footer__button img {
  padding-top: 8px;
}



/* media query */
@media screen and (max-width: 1230px){
  /* nav-bar */
  .navbar{
    padding: 1.5rem 4rem;
  }

  /* footer */
  .footer{
    padding-right: 3.9rem;
    padding-left: 3.5rem;
  }
}

@media screen and (max-width: 1200px){
  /* section 1 */
  .health{
    padding: 1.5rem 6rem ;
  }
}

@media screen and (max-width: 1050px){
  /* header */
.navbar__links{
    margin-right: 1%;
  }
   .navbar__list {
    width: 60%;
  }


  /* section 1 */
  .health{
    padding: 1.5rem 4rem ;
  }
  .health__drugstore__group-first{
    width: 400px;
    height: 100px;
  }

   /* section 4 */
   .support{
    padding: 0 5rem;
  }
  
  /* footer */
  .footer {
    padding: 5rem 5rem;
  }
}

@media screen and (max-width: 950px){
  /* nav-bar */
  .navbar{
    padding: 1.5rem 2rem;
  }

  /* section 1 */
  .health{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
  }

  .health__container{
    width: 80%;
    display: block;
  }
  
  .health__drugstore{
      width: 80%;
      align-items: center;
  } 

  .health__drugstore__group-first{
    width: 438px;
    height: 125px;
  }
  /* footer */
  .footer{
    padding-left: 6rem;
    padding-right: 6rem;
    flex-wrap: wrap;
  }
  .footer__col-logo{
    width: 40%;
  }
  .footer__container{
    width: 60%;
  }
}

@media screen and (max-width: 850px){
.navbar__listItem--responsive {
  display: block;
}

/* navbar */
a.navbar__icon--open{
  display: block;
 position: absolute;
 left: 5rem;
 top: 2rem;
}

a.navbar__icon--close {
 display: none;
 position: absolute;
 left: 5rem;
 top: 2rem;
 transform: rotate(45deg);
}

.navbar__links {
 width: 100%;
 height:520px;
 background-color: white;
 display: none;
 flex-direction: column;
 position: absolute;
 top: 7rem;
 z-index: 1;
 left: 0;
 position: fixed;
}

.navbar__list{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.navbar__list__item{
 line-height: 4.5rem;
}

.navbar__list__item a:focus{
   padding-right: 1rem;
   color: var(--color5);
   font-size: 16px;
   border-right: solid var(--color3) 3px;
}

/* section 4 */
.support{
  padding: 0 4rem;
}
}

@media screen and (max-width: 768px){
  .responsive-page{
    display: block;
  }
  .basic-page{
    display: none;
  }

  /* section 1 */
  .health{
    padding: 1rem 3rem ;
  }

  .health__container{
    width: 100%;
  }
  
  .health__drugstore__group-first{
    width: 100%;
}

  .health__drugstore{
    display: block;
    /* padding-right: 2rem; */
  }

  .health__drugstore__group-second,
  .health__drugstore__group-third{
    display: none;
  }

  /* section 2 */
  .users{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1rem;
    height: 390px;
    }
  
    /* section 3 */
    .service{
      padding: 1.5rem 4rem;
    }

  .service__registering-stor{
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .service__stor{
    width: 100%;
  }

   /* section 4 */
   .support{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

    /* footer */
.footer__container a,
  .footer__container h4 {
    display: none;
  }

  .footer__col-logo{
    width: 100%;
  }
  .footer__col-logo div:last-child {
    display: flex;
    justify-content: space-around;
  }
}


@media screen and (max-width:540px) {
  /* header */
  .navbar{
    padding: 1.5rem 2rem;
  }

  a.navbar__icon--open{
   left: 2rem;
 }

 a.navbar__icon--close {
   left: 2rem;
 }


  /* section 1 */
  .health{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1.5rem 2rem 0;
  }

  .health__drugstore__group-first{
    height: 84px;
  }

  .health__drugstore__group-first .health__profile{
    width: 50px;
    height: 50px;
  }

  .health__drugstore__group-first .health__label{
    width: 53px;
    height: 18px;
    font-size: 8px;
  }

  .health__drugstore__group-first .health__h2{
    font-size: 13px;
  }

  .health__drugstore__group-first p{
    font-size: 8px;
  }

  .health__container{
    margin-top: 3rem;
  }

  .health__h1{
    width: auto;
    font-size: 24px;
  }

  .health__p{
    font-size: 14px;
  }

  .health__input-text{
    font-size: 12px ;
  }

  .health__input-button{
    width: 93px;
    height: 38px;
    font-size: 12px ;
  }

   /* section 2 */
  .users p{
    font-size: 14px;
  }

    /* section 3 */
    .service{
      padding: 1.5rem 2rem;
    }

  .service__header__h1,
  .service__stor__h1{
    width: 302px;
    font-size: 16px;
    
  }

  .service__header__p,
  service__stor__p{
    width: 300px;
    font-size: 12px;
  }

  .service__stor{
    height: 342px;
    padding: 1rem 1rem;
  }

  .service__stor__img{
    height: 30%;
    visibility: hidden;
  }

  .service__stor__button{
    width: 170px;
    height: 52px;
    font-size: 16px;
    margin: auto 3rem;
  }

  /* section 4 */
  .support {
  display: flex;
  flex-direction: column;
  height: 170px;
  padding: 0 6rem;
  }

  .support__info {
  width: 204px;
  height: 57px;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  padding-top: 10px;
  }

  .support__h1 {
  font-size: 16px;
  }

  .support__p {
  padding: 0;
  font-size: 12px;
  }

  .support__button {
  width: 260px;
  height: 52px;
  font-size: 16px;
  margin-bottom: 15px;
  }
}


@media screen and (max-width:411px){
  /* section 2 */
  .users {
    padding: 0;
  }
  .users__count{
    font-size: 24px;
  }
  
  .navbar{
    padding: 1.5rem 1rem;
  }

  a.navbar__icon--open{
   left: 1rem;
 }

  a.navbar__icon--close {
   left: 0rem;
 }

   .footer {
      padding: 5rem 3rem;
    }
}