<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سوالات متداول</title>
    <link rel="stylesheet" href="../../assets/style/question.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <img class="navbar__logo__img" src="../../assets/img/logo.svg" alt="logo" />
        </div>
        <div>
            <a id="open" class="navbar__icon navbar__icon--open" onclick="myFunction1()">
                <img class="menu-icons" src="../../assets/img/menu.svg" alt="menu">
            </a>
        </div>

        <div id="myLinks" class="navbar__links">
            <ul class="navbar__list">
                <div>
                    <a id="close" class="navbar__icon navbar__icon--close" onclick="myFunction2()">
                        <img class="menu-icon " src="../../assets/img/plus.svg" alt="close">
                    </a>
                </div>
                <li class="navbar__list__item"><a href="../../index.html">صفحه اصلی</a></li>
                <li class="navbar__list__item">
                    <a href="#">درباره ما</a>
                </li>
                <li class="navbar__list__item">
                    <a href="./contact-us.html">تماس با ما</a>
                </li class="navbar__list__item">
                <li class="navbar__list__item">
                    <a href="./drugstore.html">عضویت داروخانه‌ها</a>
                </li>
                <li class="navbar__list__item navbar__listItem--responsive">
                    <a href="./question.html">سوالات متداول</a>
                </li>
                <li class="navbar__list__item navbar__listItem--responsive">
                    <a href="#">قوانین و شرایط</a>
                </li>
            </ul>
            <hr class="navbar__list__item navbar__listItem--responsive">
            <div>
                <button class="navbar__links__button">دانلود درمانیتو</button>
            </div>
        </div>


    </nav>

    <main>
        <section class="topic">
            <!-- <img class="background-1 basic-page" src="./img/section1/background_header_left.svg" alt=""> -->
            <h1 class="topic__h1">سوالات متداول</h1>
            <!-- <img class="background-2 basic-page" src="./img/section1/background_header_right.svg" alt=""> -->
        </section>

        <!-- section 2 -->
        <section class="question">
            <div class="question__header">
                <h1 class="question__header__h1">سوال شما درباره کدام سرویس است؟</h1>
            </div>
            <div class="question__container">
                <div class="question__button-group">
                    <button class="question__button">
                        <img src="../../assets/img/drugstore.svg" alt="drugstore" />داروخانه
                    </button>
                    <button class="question__button">
                        <img src="../../assets/img/store.svg" alt="store" />فروشگاه
                    </button>
                </div>
                <div class="question__button-group">
                    <div>
                        <label for="" class="question__label basic-page">به زودی</label>
                        <button class="question__button">
                            <img src="../../assets/img/online_visit.svg" alt="doctor visit" />ویزیت آنلاین
                        </button>
                    </div>
                    <div>
                        <label for="" class="question__label basic-page">به زودی</label>
                        <button class="question__button">
                            <img src="../../assets/img/rank.svg" alt="take turns" />ویزیت آنلاین
                        </button>
                    </div>
                </div>
            </div>
            <div class="question__list-group">
                <ul class="question__list">
                    <li class="question__item">
                        <img src="../../assets/img/plus.svg" alt="plus"> هزینه ای درمانیتو برای پیدا کردن دارو دریافت میکنه؟
                    </li>
                    <hr>
                    <li class="question__item">
                        <img src="../../assets/img/plus.svg" alt="plus"> هزینه ای درمانیتو برای پیدا کردن دارو دریافت میکنه؟
                    </li>
                    <hr>
                    <li class="question__item">
                        <img src="../../assets/img/minus.svg" alt="minus"> درمانیتو در تهران و کرج فعال هست؟
                    </li>
                    <ul class="question__container-list">
                        <li class="question__item">
                            خیر، ما هم اکنون در تهران و کرج در حال فعالیت هستیم.
                        </li>
                    </ul>
                    <hr class="basic-page">
                    <li class="question__item basic-page">
                        <img src="../../assets/img/plus.svg" alt="plus"> هزینه ای درمانیتو برای پیدا کردن دارو دریافت میکنه؟
                    </li>
                </ul>
            </div>
        </section>

        <!-- section 3 -->
        <section class="support">
            <div class="support__info">
                <h1 class="support__h1">پشتیبانی درمانیتو</h1>
                <p class="support__p">پاسخگویی در روزهای کاری از 9 صبح تا 9 شب</p>
            </div>
            <button class="support__button">
                <img src="../../assets/img/backup.svg" />
                پشتیبانی : 44219671-021
            </button>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__col-logo">
            <div class="footer__logo">
                <img src="../../assets/img/logo.svg" alt="logo" />
            </div>
            <div class="footer__col-logo__container">
                <p class="footer__col-logo__p" style="font-weight: bold">سوپر اپلیکیشن حوزه درمان و سلامت</p>
                <p class="footer__col-logo__P">تمام حقوق مادی و معنوی این وبسایت متعلق به درمانیتو است.</p>
            </div>
            <div class="footer__col-logo__links">
                <a href="#"><img src="../../assets/img/linkedin.svg" /></a>
                <a href="#"><img src="../../assets/img/twiter.svg" /></a>
                <a href="#"><img src="../../assets/img/instagram.svg" /></a>
            </div>
        </div>
        <div class="footer__container basic-page">
            <div class="footer__col-online basic-page">
                <h4>خدمات درمانیتو</h4>
                <a href="#">داروخانه آنلاین</a>
                <a href="#">فروشگاه آنلاین</a>
                <a href="#">ویزیت آنلاین</a>
                <a href="#">پرونده پزشکی</a>
            </div>
            <div class="footer__col-about basic-page">
                <h4>صفحات درمانیتو</h4>
                <a href="#">تماس با ما</a>
                <a href="#">درباره ما</a>
                <a href="./question.html">سوالات متداول</a>
                <a href="#">قوانین و شرایط</a>
            </div>
        </div>
        <div class="footer__col-download basic-page">
            <h4>دانلود درمانیتو</h4>
            <button class="footer__button"><img src="../../assets/img/bazar_app.svg" /></button>
            <button class="footer__button"><img src="../../assets/img/sib_app.svg" /></button>
        </div>
    </footer>

</body>

<script src="../javascript/script.js"></script>

</html>